{% extends 'global/base.html' %}
{% load staticfiles %}

{% block content %}

    <div class="container">

        <section id="resources">
            <div class="row">
                <div class="col-md-12">
                    <h2>Add a Resource</h2>
                    <p>
                        All the resources we've created are open sourced under Creative Commons Attribution 4.0 International (CC BY 4). This means that
                        you can modify, distribute and use commercially, but you cannot sublicense and you have to give us credit and include
                        copyright.
                    </p>
                </div>
            </div>
        </section>
    </div>
{% endblock %}